@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --color-brand: #1C64F2;
  --color-brand-hover: #3450cf;

  --color-status-completed-bg: #DEF7EC;
  --color-status-completed-fg: #03543F;
  --color-status-incomplete-bg: #FDF6B2;
  --color-status-incomplete-fg: #723B13;
  --color-status-missing-bg: #FCE8F3;
  --color-status-missing-fg: #99154B;
}

html,
body {
  background-color: #f9fafb;
  color: #111827;
}
